<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Data</title>
</head>
<body>

    <h3>Setup Collections</h3>

    <ul>
        <!-- <li><a href="setup_authors">Authors (DEMO)</a></li> -->
        <li><a href="categories">Categories</a></li>
        <li><a href="products">Products</a></li>
        <li><a href="roles">Roles</a></li>
        <li><a href="groups">Groups</a></li>
        <li><a href="users">Users</a></li>
    </ul>

</body>
</html>